/** 自定义 Element Plus 样式 */

// 表格
.el-table {
  // 表头
  th.el-table__cell {
    background-color: var(--el-fill-color-light) !important;
  }
}

// table-v2 表头背景
.el-table-v2__header-cell {
    background-color: var(--el-fill-color-light) !important;
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
//表头加粗，显示card标题
.table-title {
  margin-left: 0rem;
  margin-top: 0rem;
  font-size: 16px;
  font-weight: bold;
  color: #202a34;
}

.table-title::before {
  content: '';
  width: 24px;
  height: 16px;
  border-left: 3px solid #0081ff;
  margin-right: 10px;
}

.el-dialog__title {
  font-weight: bold;
}
//表单字体加粗
.el-form-item__label {
  font-weight: bold;
}
.el-form-item__content {
  font-weight: bold;
}

//.el-button--small{
//  margin-left: 0px;
//  padding: 3px;
//}

.el-button + .el-button {
  margin-left: 4px;
}
/* 重置 el-button 中 icon 的 margin */
.reset-margin [class*='el-icon'] + span {
  margin-left: 2px !important;
}
