
.title {
  left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #202a34;
}
.title::before {
  content: '';
  width: 24px;
  height: 16px;
  border-left: 3px solid #0081ff;
  margin-right: 5px;
}


.toolbar-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-card {
  min-height: calc(100vh - 126px);
}

.operation-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.00rem;
  margin-top: 1.00rem;
}
.operation-button {
  font-size: 12px;
  font-weight: bold;
  margin-left: 0px;
  padding: 2px;
}
.pagination-container {
  float: right;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.dialog-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.dialog-title-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.dialog-title-container i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
